<div class="users_base">
  <h1 class="white"> Welcome New Nerd Friend!</h1>
  <h2 class="blue"> Please sign up below.</h2>

  <div class="left_users">

   <h1> Sign up will go here</h1>
  </div>

  <div class="right_users">
    <%= image_tag("HFA.jpg", :alt => "Hume-Fogg Academic Magnet HS") %>
  </div>

</div>